{% extends 'passwordapp/base.html' %}

{% block title %}Password Generator{% endblock %}

{% block content %}
<h1>Password Generator</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="length">Enter the length:</label>
        <input type="number" name="length" id="length" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Generate Password</button>
</form>
{% if password %}
<div class="alert alert-info mt-3">
    Your password is: <strong>{{ password }}</strong>
</div>
<div class="mt-3">
    <form method="post" action="{% url 'download_generated_password' %}" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="password" value="{{ password }}">
        <button type="submit" class="btn btn-secondary">Download Password</button>
    </form>
    <form method="post" action="{% url 'check_generated_password_strength' %}" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="password" value="{{ password }}">
        <button type="submit" class="btn btn-success">Check Password Strength</button>
    </form>
</div>
{% endif %}
<a class="btn btn-secondary mt-3" href="{% url 'menu' %}">Back to Menu</a>
{% endblock %}
